*{
font-family:Garamond;
}
body {
  margin: auto;
  position: relative;
  width: 960px;
  text-align: center;
}

form {
  position: relative;
  right: 10px;
  top: 10px;
}
div{
	width:70%;
	padding: 20px;	
	margin:auto;
}
p{
	text-align: justify;
}
div::first-letter{
	font-size:400%;
}
rect:hover {
	fill: cyan;
}
